<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.payment.mapper.AccountMapper">
    <insert id="recharge">
        INSERT into tb_account (createtime,money,uid) VALUES (#{createTime},#{money},#{uId})
    </insert>
    <insert id="payment">
        INSERT INTO  tb_account (toid,createtime,money,uid) VALUES (#{toId},#{createTime},#{money},#{id})

    </insert>
    <insert id="gathering">
        INSERT INTO tb_account(fromId,createtime,money,uid) VALUES (#{uid},#{createTime},#{money},#{toId})
    </insert>
    <select id="selectBalance">
        SELECT balance from tb_account WHERE uid = #{uid}
    </select>
    <select id="listAll" resultType="com.qf.payment.pojo.Account">
        SELECT * from tb_account where uid = #{uid} and id like '%${search}%' Limit #{offset},#{limit}
    </select>
    <select id="countSearch" resultType="java.lang.Integer">
        select count(*) from tb_account where uid = #{uid} and id like '%${search}%'
    </select>
    <delete id="deleteRecord">
        delete from tb_account where id = #{id}
    </delete>
</mapper>